<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Loser.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6EC8736E1F38F86600E2BA40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EC873871F38F86600E2BA40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EC873921F38F86600E2BA40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
